<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.packing.agv.mapper.AgvExvhangeCostCountMapper" >
  <resultMap id="BaseResultMap" type="com.packing.agv.entity.AgvExvhangeCostCount" >
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="FLOOR" property="floor" jdbcType="VARCHAR" />
    <result column="WORKSTATION" property="workstation" jdbcType="VARCHAR" />
    <result column="LOADER" property="loader" jdbcType="VARCHAR" />
    <result column="LDRTOAGV" property="ldrtoagv" jdbcType="VARCHAR" />
    <result column="AGVTOLDR" property="agvtoldr" jdbcType="VARCHAR" />
    <result column="COST" property="cost" jdbcType="VARCHAR" />
    <result column="COUNT" property="count" jdbcType="VARCHAR" />
    <result column="CYCLE_TYPE" property="cycleType" jdbcType="VARCHAR" />
    <result column="STARTTIME" property="starttime" jdbcType="TIMESTAMP" />
    <result column="ENDTIME" property="endtime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="STIME" property="sTime" jdbcType="VARCHAR" />
  </resultMap>


<!--白天-->

  <select id="getLdrtoagv08" resultMap="BaseResultMap">
    SELECT
        SUM(LDRTOAGV) as LDRTOAGVALL
    FROM
        "AGV_EXCHANGE_COST_COUNT"
    where
        WORKSTATION = 'PK-KT'
    and
        LOADER = #{loader}
    and
        CYCLE_TYPE = 'DAY'
    and
        STARTTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '09:30:00','yyyy-mm-dd HH24:mi:ss')
    and
        ENDTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '09:30:00','yyyy-mm-dd HH24:mi:ss')

  </select>

  <select id="getLdrtoagv09" resultMap="BaseResultMap">
    SELECT
        SUM(LDRTOAGV) as LDRTOAGVALL
    FROM
        "AGV_EXCHANGE_COST_COUNT"
    where
        WORKSTATION = 'PK-KT'
    and
        LOADER = #{loader}
    and
        CYCLE_TYPE = 'DAY'
    and
        STARTTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '09:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '10:30:00','yyyy-mm-dd HH24:mi:ss')
    and
        ENDTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '09:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '10:30:00','yyyy-mm-dd HH24:mi:ss')

  </select>



  <select id="getLdrtoagv10" resultMap="BaseResultMap">
      SELECT
        SUM(LDRTOAGV) as LDRTOAGVALL
    FROM
        "AGV_EXCHANGE_COST_COUNT"
    where
        WORKSTATION = 'PK-KT'
    and
        LOADER = #{loader}
    and
        CYCLE_TYPE = 'DAY'
    and
        STARTTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '10:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '11:30:00','yyyy-mm-dd HH24:mi:ss')
    and
        ENDTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '10:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '11:30:00','yyyy-mm-dd HH24:mi:ss')

  </select>


  <select id="getLdrtoagv11" resultMap="BaseResultMap">
SELECT
        SUM(LDRTOAGV) as LDRTOAGVALL
    FROM
        "AGV_EXCHANGE_COST_COUNT"
    where
        WORKSTATION = 'PK-KT'
    and
        LOADER = #{loader}
    and
        CYCLE_TYPE = 'DAY'
    and
        STARTTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '11:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '12:30:00','yyyy-mm-dd HH24:mi:ss')
    and
        ENDTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '11:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '12:30:00','yyyy-mm-dd HH24:mi:ss')

  </select>


  <select id="getLdrtoagv12" resultMap="BaseResultMap">
      SELECT
        SUM(LDRTOAGV) as LDRTOAGVALL
    FROM
        "AGV_EXCHANGE_COST_COUNT"
    where
        WORKSTATION = 'PK-KT'
    and
        LOADER = #{loader}
    and
        CYCLE_TYPE = 'DAY'
    and
        STARTTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '12:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '13:30:00','yyyy-mm-dd HH24:mi:ss')
    and
        ENDTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '12:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '13:30:00','yyyy-mm-dd HH24:mi:ss')

  </select>


  <select id="getLdrtoagv13" resultMap="BaseResultMap">
      SELECT
        SUM(LDRTOAGV) as LDRTOAGVALL
    FROM
        "AGV_EXCHANGE_COST_COUNT"
    where
        WORKSTATION = 'PK-KT'
    and
        LOADER = #{loader}
    and
        CYCLE_TYPE = 'DAY'
    and
        STARTTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '13:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '14:30:00','yyyy-mm-dd HH24:mi:ss')
    and
        ENDTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '13:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '14:30:00','yyyy-mm-dd HH24:mi:ss')

  </select>

  <select id="getLdrtoagv14" resultMap="BaseResultMap">
      SELECT
        SUM(LDRTOAGV) as LDRTOAGVALL
    FROM
        "AGV_EXCHANGE_COST_COUNT"
    where
        WORKSTATION = 'PK-KT'
    and
        LOADER = #{loader}
    and
        CYCLE_TYPE = 'DAY'
    and
        STARTTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '14:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '15:30:00','yyyy-mm-dd HH24:mi:ss')
    and
        ENDTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '14:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '15:30:00','yyyy-mm-dd HH24:mi:ss')

  </select>



  <select id="getLdrtoagv15" resultMap="BaseResultMap">
      SELECT
        SUM(LDRTOAGV) as LDRTOAGVALL
    FROM
        "AGV_EXCHANGE_COST_COUNT"
    where
        WORKSTATION = 'PK-KT'
    and
        LOADER = #{loader}
    and
        CYCLE_TYPE = 'DAY'
    and
        STARTTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '15:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '16:30:00','yyyy-mm-dd HH24:mi:ss')
    and
        ENDTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '15:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '16:30:00','yyyy-mm-dd HH24:mi:ss')

  </select>


  <select id="getLdrtoagv16" resultMap="BaseResultMap">
      SELECT
        SUM(LDRTOAGV) as LDRTOAGVALL
    FROM
        "AGV_EXCHANGE_COST_COUNT"
    where
        WORKSTATION = 'PK-KT'
    and
        LOADER = #{loader}
    and
        CYCLE_TYPE = 'DAY'
    and
        STARTTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '16:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '17:30:00','yyyy-mm-dd HH24:mi:ss')
    and
        ENDTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '16:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '17:30:00','yyyy-mm-dd HH24:mi:ss')

  </select>


  <select id="getLdrtoagv17" resultMap="BaseResultMap">
      SELECT
        SUM(LDRTOAGV) as LDRTOAGVALL
    FROM
        "AGV_EXCHANGE_COST_COUNT"
    where
        WORKSTATION = 'PK-KT'
    and
        LOADER = #{loader}
    and
        CYCLE_TYPE = 'DAY'
    and
        STARTTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '17:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '18:30:00','yyyy-mm-dd HH24:mi:ss')
    and
        ENDTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '17:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '18:30:00','yyyy-mm-dd HH24:mi:ss')

  </select>


  <select id="getLdrtoagv18" resultMap="BaseResultMap">
      SELECT
        SUM(LDRTOAGV) as LDRTOAGVALL
    FROM
        "AGV_EXCHANGE_COST_COUNT"
    where
        WORKSTATION = 'PK-KT'
    and
        LOADER = #{loader}
    and
        CYCLE_TYPE = 'DAY'
    and
        STARTTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '18:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '19:30:00','yyyy-mm-dd HH24:mi:ss')
    and
        ENDTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '18:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '19:30:00','yyyy-mm-dd HH24:mi:ss')

  </select>


  <select id="getLdrtoagv19" resultMap="BaseResultMap">
      SELECT
        SUM(LDRTOAGV) as LDRTOAGVALL
    FROM
        "AGV_EXCHANGE_COST_COUNT"
    where
        WORKSTATION = 'PK-KT'
    and
        LOADER = #{loader}
    and
        CYCLE_TYPE = 'DAY'
    and
        STARTTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '19:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss')
    and
        ENDTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '19:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss')

  </select>





<!--    晚上-->
    <select id="getWanLdrtoagv1" resultMap="BaseResultMap">
    SELECT
        SUM(LDRTOAGV) as LDRTOAGVALL
    FROM
        "AGV_EXCHANGE_COST_COUNT"
    where
        WORKSTATION = 'PK-KT'
    and
        LOADER = #{loader}
    and
        CYCLE_TYPE = 'DAY'
    and
        STARTTIME
        BETWEEN to_date(to_char(SYSDATE-1,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE-1,'yyyy-mm-dd')|| '21:30:00','yyyy-mm-dd HH24:mi:ss')
    and
        ENDTIME
        BETWEEN to_date(to_char(SYSDATE-1,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE-1,'yyyy-mm-dd')|| '21:30:00','yyyy-mm-dd HH24:mi:ss')

    </select>


    <select id="getWanLdrtoagv2" resultMap="BaseResultMap">
        SELECT
        SUM(LDRTOAGV) as LDRTOAGVALL
    FROM
        "AGV_EXCHANGE_COST_COUNT"
    where
        WORKSTATION = 'PK-KT'
    and
        LOADER = #{loader}
    and
        CYCLE_TYPE = 'DAY'
    and
        STARTTIME
        BETWEEN to_date(to_char(SYSDATE-1,'yyyy-mm-dd')|| '21:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE-1,'yyyy-mm-dd')|| '22:30:00','yyyy-mm-dd HH24:mi:ss')
    and
        ENDTIME
        BETWEEN to_date(to_char(SYSDATE-1,'yyyy-mm-dd')|| '21:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE-1,'yyyy-mm-dd')|| '22:30:00','yyyy-mm-dd HH24:mi:ss')

    </select>


    <select id="getWanLdrtoagv3" resultMap="BaseResultMap">
        SELECT
        SUM(LDRTOAGV) as LDRTOAGVALL
    FROM
        "AGV_EXCHANGE_COST_COUNT"
    where
        WORKSTATION = 'PK-KT'
    and
        LOADER = #{loader}
    and
        CYCLE_TYPE = 'DAY'
    and
        STARTTIME
        BETWEEN to_date(to_char(SYSDATE-1,'yyyy-mm-dd')|| '22:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE-1,'yyyy-mm-dd')|| '23:30:00','yyyy-mm-dd HH24:mi:ss')
    and
        ENDTIME
        BETWEEN to_date(to_char(SYSDATE-1,'yyyy-mm-dd')|| '22:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE-1,'yyyy-mm-dd')|| '23:30:00','yyyy-mm-dd HH24:mi:ss')

    </select>


    <select id="getWanLdrtoagv4" resultMap="BaseResultMap">
        SELECT
        SUM(LDRTOAGV) as LDRTOAGVALL
    FROM
        "AGV_EXCHANGE_COST_COUNT"
    where
        WORKSTATION = 'PK-KT'
    and
        LOADER = #{loader}
    and
        CYCLE_TYPE = 'DAY'
    and
        STARTTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '23:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE+1,'yyyy-mm-dd')|| '00:30:00','yyyy-mm-dd HH24:mi:ss')
    and
        ENDTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '23:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE+1,'yyyy-mm-dd')|| '00:30:00','yyyy-mm-dd HH24:mi:ss')

    </select>


    <select id="getWanLdrtoagv42" resultMap="BaseResultMap">
        SELECT
        SUM(LDRTOAGV) as LDRTOAGVALL
    FROM
        "AGV_EXCHANGE_COST_COUNT"
    where
        WORKSTATION = 'PK-KT'
    and
        LOADER = #{loader}
    and
        CYCLE_TYPE = 'DAY'
    and
        STARTTIME
        BETWEEN to_date(to_char(SYSDATE-1,'yyyy-mm-dd')|| '23:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '00:30:00','yyyy-mm-dd HH24:mi:ss')
    and
        ENDTIME
        BETWEEN to_date(to_char(SYSDATE-1,'yyyy-mm-dd')|| '23:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '00:30:00','yyyy-mm-dd HH24:mi:ss')

    </select>


    <select id="getWanLdrtoagv5" resultMap="BaseResultMap">
        SELECT
        SUM(LDRTOAGV) as LDRTOAGVALL
    FROM
        "AGV_EXCHANGE_COST_COUNT"
    where
        WORKSTATION = 'PK-KT'
    and
        LOADER = #{loader}
    and
        CYCLE_TYPE = 'DAY'
    and
        STARTTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '00:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '01:30:00','yyyy-mm-dd HH24:mi:ss')
    and
        ENDTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '00:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '01:30:00','yyyy-mm-dd HH24:mi:ss')

    </select>


    <select id="getWanLdrtoagv6" resultMap="BaseResultMap">
        SELECT
        SUM(LDRTOAGV) as LDRTOAGVALL
    FROM
        "AGV_EXCHANGE_COST_COUNT"
    where
        WORKSTATION = 'PK-KT'
    and
        LOADER = #{loader}
    and
        CYCLE_TYPE = 'DAY'
    and
        STARTTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '01:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '02:30:00','yyyy-mm-dd HH24:mi:ss')
    and
        ENDTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '01:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '02:30:00','yyyy-mm-dd HH24:mi:ss')

    </select>


    <select id="getWanLdrtoagv7" resultMap="BaseResultMap">
        SELECT
        SUM(LDRTOAGV) as LDRTOAGVALL
    FROM
        "AGV_EXCHANGE_COST_COUNT"
    where
        WORKSTATION = 'PK-KT'
    and
        LOADER = #{loader}
    and
        CYCLE_TYPE = 'DAY'
    and
        STARTTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '02:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '03:30:00','yyyy-mm-dd HH24:mi:ss')
    and
        ENDTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '02:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '03:30:00','yyyy-mm-dd HH24:mi:ss')

    </select>

    <select id="getWanLdrtoagv8" resultMap="BaseResultMap">
    SELECT
        SUM(LDRTOAGV) as LDRTOAGVALL
    FROM
        "AGV_EXCHANGE_COST_COUNT"
    where
        WORKSTATION = 'PK-KT'
    and
        LOADER = #{loader}
    and
        CYCLE_TYPE = 'DAY'
    and
        STARTTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '03:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '04:30:00','yyyy-mm-dd HH24:mi:ss')
    and
        ENDTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '03:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '04:30:00','yyyy-mm-dd HH24:mi:ss')

    </select>

    <select id="getWanLdrtoagv9" resultMap="BaseResultMap">
        SELECT
        SUM(LDRTOAGV) as LDRTOAGVALL
    FROM
        "AGV_EXCHANGE_COST_COUNT"
    where
        WORKSTATION = 'PK-KT'
    and
        LOADER = #{loader}
    and
        CYCLE_TYPE = 'DAY'
    and
        STARTTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '04:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '05:30:00','yyyy-mm-dd HH24:mi:ss')
    and
        ENDTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '04:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '05:30:00','yyyy-mm-dd HH24:mi:ss')

    </select>
    <select id="getWanLdrtoagv10" resultMap="BaseResultMap">
        SELECT
        SUM(LDRTOAGV) as LDRTOAGVALL
    FROM
        "AGV_EXCHANGE_COST_COUNT"
    where
        WORKSTATION = 'PK-KT'
    and
        LOADER = #{loader}
    and
        CYCLE_TYPE = 'DAY'
    and
        STARTTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '05:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '06:30:00','yyyy-mm-dd HH24:mi:ss')
    and
        ENDTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '05:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '06:30:00','yyyy-mm-dd HH24:mi:ss')

    </select>
    <select id="getWanLdrtoagv11" resultMap="BaseResultMap">
        SELECT
        SUM(LDRTOAGV) as LDRTOAGVALL
    FROM
        "AGV_EXCHANGE_COST_COUNT"
    where
        WORKSTATION = 'PK-KT'
    and
        LOADER = #{loader}
    and
        CYCLE_TYPE = 'DAY'
    and
        STARTTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '06:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '07:30:00','yyyy-mm-dd HH24:mi:ss')
    and
        ENDTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '06:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '07:30:00','yyyy-mm-dd HH24:mi:ss')

    </select>
    <select id="getWanLdrtoagv12" resultMap="BaseResultMap">
        SELECT
        SUM(LDRTOAGV) as LDRTOAGVALL
    FROM
        "AGV_EXCHANGE_COST_COUNT"
    where
        WORKSTATION = 'PK-KT'
    and
        LOADER = #{loader}
    and
        CYCLE_TYPE = 'DAY'
    and
        STARTTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '07:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss')
    and
        ENDTIME
        BETWEEN to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '07:30:00','yyyy-mm-dd HH24:mi:ss')
        and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss')

    </select>












    <select id="getTime" resultType="String">
        SELECT to_char(SYSDATE,'HH24:mi:ss') FROM dual
    </select>


    <select id="getTimeJiGe1" resultType="String">
        SELECT to_char(SYSDATE,'yyyy-mm-dd HH24:mi:ss') FROM dual
    </select>

    <select id="getTimeJiGe2" resultType="String">
        SELECT to_char(SYSDATE-1,'yyyy-mm-dd HH24:mi:ss') FROM dual
    </select>



<!--    达成前七天数据-->
    <select id="getReachDataSeven" resultMap="BaseResultMap">
        select sum(LDRTOAGV) as LDRTOAGV from(
        SELECT sum(LDRTOAGV)as LDRTOAGV ,to_char(STARTTIME,'yyyy-mm-dd') as sTime FROM "AGV_EXCHANGE_COST_COUNT" WHERE
        WORKSTATION = 'PK-KT' and LOADER = #{loader} and CYCLE_TYPE = 'DAY'  and to_char(STARTTIME,'yyyy-mm-dd') = #{sTime}
        GROUP BY STARTTIME
        ORDER BY STARTTIME asc
        )
        GROUP BY sTime
        ORDER BY sTime asc
    </select>


<!--    前七天日期-->
    <select id="getSevenDate" resultType="String">
        select to_char(sysdate- level,'yyyy-mm-dd') today from dual connect by level  <![CDATA[ <=7]]> ORDER BY today asc
    </select>
</mapper>