<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.packing.agv.mapper.AgvExceptionMapper" >
  <resultMap id="BaseResultMap" type="com.packing.agv.entity.AgvException" >
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="DEVICE" property="device" jdbcType="VARCHAR" />
    <result column="ERROR" property="error" jdbcType="VARCHAR" />
    <result column="STARTTIME" property="starttime" jdbcType="TIMESTAMP" />
    <result column="ENDTIME" property="endtime" jdbcType="TIMESTAMP" />
    <result column="COST" property="cost" jdbcType="VARCHAR" />
    <result column="WORKSTATION" property="workstation" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="FLOOR" property="floor" jdbcType="VARCHAR" />
    <result column="RFID" property="rfid" jdbcType="VARCHAR" />
    <result column="TIME_SLOT" property="timeSlot" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getChance" resultMap="BaseResultMap">
    SELECT ERROR,time_slot,sum(cost)as cost FROM AGV_EXCEPTION
    WHERE  FLOOR like 'D061F%'
    and  STARTTIME between to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss') and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss')
    and ENDTIME between to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss') and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss')
    AND WORKSTATION='KT-AFS'
    group by  DEVICE,ERROR,time_slot,WORKSTATION
    order by time_slot desc
  </select>


  <select id="getChance2" resultMap="BaseResultMap">
    SELECT ERROR,time_slot,sum(cost)as cost FROM AGV_EXCEPTION
    WHERE  FLOOR like 'D061F%'
    and  STARTTIME between to_date(to_char(SYSDATE-1,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss') and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss')
    and ENDTIME between to_date(to_char(SYSDATE-1,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss') and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss')
    AND WORKSTATION='KT-AFS'
    group by  DEVICE,ERROR,time_slot,WORKSTATION
    order by time_slot desc
  </select>


  <select id="getChance3" resultMap="BaseResultMap">
    SELECT ERROR,time_slot,sum(cost)as cost FROM AGV_EXCEPTION
    WHERE  FLOOR like 'D061F%'
    and  STARTTIME between to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss') and to_date(to_char(SYSDATE+1,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss')
    and ENDTIME between to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss') and to_date(to_char(SYSDATE+1,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss')
    AND WORKSTATION='KT-AFS'
    group by  DEVICE,ERROR,time_slot,WORKSTATION
    order by time_slot desc
  </select>


  <select id="getChanceSeven" resultMap="BaseResultMap">
    select sum(cost) as cost from(
    SELECT nvl(sum(cost),0) as cost FROM AGV_EXCEPTION
    WHERE  FLOOR like 'D061F%'
    and  to_char(STARTTIME,'yyyy-mm-dd') = #{sTime}
    and  to_char(ENDTIME,'yyyy-mm-dd') = #{sTime}
    AND WORKSTATION='KT-AFS'
    group by  DEVICE,ERROR,time_slot,WORKSTATION
    order by time_slot desc )
  </select>





<!--  获取机故故障时间 白天-->
  <select id="getJiGuTime1" resultMap="BaseResultMap">
    SELECT sum(cost) as cost from(
    SELECT ERROR,time_slot,sum(cost)as cost FROM AGV_EXCEPTION
    WHERE  FLOOR like 'D061F%'
    and  STARTTIME between to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss') and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss')
    and ENDTIME between to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss') and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss')
    AND WORKSTATION='KT-AFS'
    group by  DEVICE,ERROR,time_slot,WORKSTATION
    order by time_slot desc ) where TIME_SLOT = #{sTime}
  </select>

  <!--  获取机故故障时间 晚上 1-->
  <select id="getJiGuTime21" resultMap="BaseResultMap">
    SELECT sum(cost) as cost from(
    SELECT ERROR,time_slot,sum(cost)as cost FROM AGV_EXCEPTION
    WHERE  FLOOR like 'D061F%'
    and  STARTTIME between to_date(to_char(SYSDATE-1,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss') and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss')
    and ENDTIME between to_date(to_char(SYSDATE-1,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss') and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss')
    AND WORKSTATION='KT-AFS'
    group by  DEVICE,ERROR,time_slot,WORKSTATION
    order by time_slot desc) where TIME_SLOT = #{sTime}
  </select>

  <!--  获取机故故障时间 晚上 2-->
  <select id="getJiGuTime22" resultMap="BaseResultMap">
    SELECT sum(cost) as cost from(
    SELECT ERROR,time_slot,sum(cost)as cost FROM AGV_EXCEPTION
    WHERE  FLOOR like 'D061F%'
    and  STARTTIME between to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss') and to_date(to_char(SYSDATE+1,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss')
    and ENDTIME between to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss') and to_date(to_char(SYSDATE+1,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss')
    AND WORKSTATION='KT-AFS'
    group by  DEVICE,ERROR,time_slot,WORKSTATION
    order by time_slot desc ) where TIME_SLOT = #{sTime}
  </select>




  <!-- 白天异常数据 -->
  <select id="getErrorMsg1" resultMap="BaseResultMap">
     SELECT ERROR,time_slot,sum(cost)as cost FROM AGV_EXCEPTION
    WHERE  FLOOR like 'D061F%'
    and  STARTTIME between to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss') and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss')
    and ENDTIME between to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss') and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss')
    AND WORKSTATION='KT-AFS'
		and TIME_SLOT = #{sTime}
    group by  DEVICE,ERROR,time_slot,WORKSTATION
    order by time_slot asc
  </select>

  <select id="getErrorMsgAll1" resultMap="BaseResultMap">
     SELECT ERROR,time_slot,sum(cost)as cost FROM AGV_EXCEPTION
    WHERE  FLOOR like 'D061F%'
    and  STARTTIME between to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss') and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss')
    and ENDTIME between to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss') and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss')
    AND WORKSTATION='KT-AFS'
    group by  DEVICE,ERROR,time_slot,WORKSTATION
    order by time_slot asc
  </select>


  <!-- 夜晚异常数据1 -->
  <select id="getErrorMsg21" resultMap="BaseResultMap">
     SELECT ERROR,time_slot,sum(cost)as cost FROM AGV_EXCEPTION
    WHERE  FLOOR like 'D061F%'
    and  STARTTIME between to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss') and to_date(to_char(SYSDATE+1,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss')
    and ENDTIME between to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss') and to_date(to_char(SYSDATE+1,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss')
    AND WORKSTATION='KT-AFS'
		and TIME_SLOT = #{sTime}
    group by  DEVICE,ERROR,time_slot,WORKSTATION
    order by time_slot asc
  </select>

  <select id="getErrorMsgAll21" resultMap="BaseResultMap">
     SELECT ERROR,time_slot,sum(cost)as cost FROM AGV_EXCEPTION
    WHERE  FLOOR like 'D061F%'
    and  STARTTIME between to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss') and to_date(to_char(SYSDATE+1,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss')
    and ENDTIME between to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss') and to_date(to_char(SYSDATE+1,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss')
    AND WORKSTATION='KT-AFS'
    group by  DEVICE,ERROR,time_slot,WORKSTATION
    order by time_slot asc
  </select>


  <!-- 夜晚异常数据2 -->
  <select id="getErrorMsg22" resultMap="BaseResultMap">
     SELECT ERROR,time_slot,sum(cost)as cost FROM AGV_EXCEPTION
    WHERE  FLOOR like 'D061F%'
    and  STARTTIME between to_date(to_char(SYSDATE-1,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss') and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss')
    and ENDTIME between to_date(to_char(SYSDATE-1,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss') and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss')
    AND WORKSTATION='KT-AFS'
		and TIME_SLOT = #{sTime}
    group by  DEVICE,ERROR,time_slot,WORKSTATION
    order by time_slot asc
  </select>

  <select id="getErrorMsgAll22" resultMap="BaseResultMap">
     SELECT ERROR,time_slot,sum(cost)as cost FROM AGV_EXCEPTION
    WHERE  FLOOR like 'D061F%'
    and  STARTTIME between to_date(to_char(SYSDATE-1,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss') and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss')
    and ENDTIME between to_date(to_char(SYSDATE-1,'yyyy-mm-dd')|| '20:30:00','yyyy-mm-dd HH24:mi:ss') and to_date(to_char(SYSDATE,'yyyy-mm-dd')|| '08:30:00','yyyy-mm-dd HH24:mi:ss')
    AND WORKSTATION='KT-AFS'
    group by  DEVICE,ERROR,time_slot,WORKSTATION
    order by time_slot asc
  </select>


</mapper>